#########
# MAVEN
#
target/
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

#########
# IDEA
#
.idea

#########
# ECLIPSE
#
.classpath
.project
.settings

#########
# OTHER
#
build.properties
bin/
.metadata
transaction.log
nbactions*.xml
nb-configuration.xml
*.iml
*.sublime-project
*.sublime-workspace
.java-version
