<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">


  <import resource="classpath:/camunda-bpm-engine-spring-config.xml"/>

  <camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
    <route id="startRoute">
      <from uri="direct:start"/>
      <to uri="log:org.camunda.bpm.camel.spring.samples?level=INFO&amp;showAll=true&amp;multiline=true"/>
      <to uri="activiti:camelProcess"/>
      <to uri="log:org.camunda.bpm.camel.spring.samples?level=INFO&amp;showAll=true&amp;multiline=true"/>
    </route>
    <route id="incomingRoute">
      <from uri="seda:serviceTask1"/>
      <to uri="log:org.camunda.bpm.camel.spring.samples?level=INFO&amp;showAll=true&amp;multiline=true"/>
      <setBody>
        <property>var1</property>
      </setBody>
      <to uri="mock:service1"/>
      <setProperty propertyName="var2">
        <constant>valueOfVar2</constant>
      </setProperty>
      <setBody>
        <mvel>properties</mvel>
      </setBody>
      <to uri="log:org.camunda.bpm.camel.spring.samples?level=INFO&amp;showAll=true&amp;multiline=true"/>
    </route>
    <route id="incomingRoute2">
      <from uri="activiti:camelProcess:serviceTask2?copyVariablesToBodyAsMap=true"/>
      <to uri="mock:service2"/>
    </route>
    <route id="startRoute2">
      <from uri="direct:receive"/>
      <to uri="activiti:camelProcess:receive"/>
    </route>
  </camelContext>

  <!--<bean id="sleepBean" class="org.activiti.camel.util.SleepBean"/>-->

  <bean id="log" class="org.activiti.camel.util.LogServiceImpl"/>

  <bean id="camel" class="org.activiti.camel.impl.CamelServiceImpl">
    <property name="processEngine" ref="processEngine"/>
    <property name="camelContext" ref="camelContext"/>
  </bean>
</beans>
